@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	select {
		@apply outline-0;
	}
	.red-btn {
		@apply bg-red px-4 py-1.5 rounded-sm;
	}
	input {
		@apply outline-0
	}
	.border-grey {
		border-color: rgb(34 34 34);
	}
	.footer-grey {
		color: rgb(117 117 117);
	}
	footer a {
		@apply hover:underline;
	}
	footer li {
		@apply py-1.5;
	}
	.nav-bg {
		background: linear-gradient(180deg, #00000059 70%, transparent);
	}
	header::-webkit-scrollbar{
	display: none;
	}
}
